<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>  
    <form method="POST" action="/" class="post-form" enctype="multipart/form-data">  
            {% csrf_token %}  
            <label for="file_input">File Upload</label>
            <input type="file" id="file_input" name="file_input" accept=".doc,.doxc,.pdf,.jpeg,.png" />
            <button type="submit" class="save btn btn-default">Save</button>  
    </form>  
    </body>  
</html>